#!/usr/bin/env sh
export ANDROID_HOME="{{ desktop_android_sdk.path }}"
export ANDROID_SDK_ROOT="{{ desktop_android_sdk.path }}"
export PATH="$PATH:{{ desktop_android_sdk.path }}/cmdline-tools/latest/bin:{{ desktop_android_sdk.path }}/platform-tools"
